# Capstone Project Notebook

In [1]:
import pandas as pd
import numpy as np

print("Hello Capstone Project Course!")

## 1. Use pandas, or the BeautifulSoup package, or any other way you are comfortable with to transform the data in the table on the Wikipedia page into pandas dataframe.

### Using Xpath and Pandas

### Import Libraries

<p>We will need requests for getting the HTML contents of the website and lxml.html for parsing the relevant fields. Finally, we will store the data on a Pandas Dataframe.</p>

In [2]:
import requests
import lxml.html as lh

In [3]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

<p>For sanity check, ensure that all the rows have the same width. If not, we probably got something more than just the table.</p>

In [4]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

Looks like all our rows have exactly 3 columns. This means all the data collected on tr_elements are from the table.

### Parse Table Header

Next, let’s parse the first row as our header.

In [5]:
#col.append((name,[]))
    
    #print("Total score for %s is %s" % (name, score))
#tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ("%d : %s" % (i,name))
    col.append((name,[]))

1 : Postcode
2 : Borough
3 : Neighbourhood

### Creating Pandas DataFrame

Each header is appended to a tuple along with an empty list.

In [6]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    #T=tr_elements[j]
    f=0
    for field in tr_elements[j]:
        f+=1
        name=field.text_content()
        if name=='Not assigned':
            break
        print(name)

M1A
M2A
M3A
North York
Parkwoods

M4A
North York
Victoria Village

M5A
Downtown Toronto
Harbourfront

M6A
North York
Lawrence Heights

M6A
North York
Lawrence Manor

M7A
Downtown Toronto
Queen's Park

M8A
M9A
Etobicoke
Islington Avenue

M1B
Scarborough
Rouge

M1B
Scarborough
Malvern

M2B
M3B
North York
Don Mills North

M4B
East York
Woodbine Gardens

M4B
East York
Parkview Hill

M5B
Downtown Toronto
Ryerson

M5B
Downtown Toronto
Garden District

M6B
North York
Glencairn

M7B
M8B
M9B
Etobicoke
Cloverdale

M9B
Etobicoke
Islington

M9B
Etobicoke
Martin Grove

M9B
Etobicoke
Princess Gardens

M9B
Etobicoke
West Deane Park

M1C
Scarborough
Highland Creek

M1C
Scarborough
Rouge Hill

M1C
Scarborough
Port Union

M2C
M3C
North York
Flemingdon Park

M3C
North York
Don Mills South

M4C
East York
Woodbine Heights

M5C
Downtown Toronto
St. James Town

M6C
York
Humewood-Cedarvale

M7C
M8C
M9C
Etobicoke
Bloordale Gardens

M9C
Etobicoke
Eringate

M9C
Etobicoke
Markland Wood

M9C
Etobicoke
Old Burnhamthorpe

M1E
Scarborough
Guildwood

M1E
Scarborough
Morningside

M1E
Scarborough
West Hill

M2E
M3E
M4E
East Toronto
The Beaches

M5E
Downtown Toronto
Berczy Park

M6E
York
Caledonia-Fairbanks

M7E
M8E
M9E
M1G
Scarborough
Woburn

M2G
M3G
M4G
East York
Leaside

M5G
Downtown Toronto
Central Bay Street

M6G
Downtown Toronto
Christie

M7G
M8G
M9G
M1H
Scarborough
Cedarbrae

M2H
North York
Hillcrest Village

M3H
North York
Bathurst Manor

M3H
North York
Downsview North

M3H
North York
Wilson Heights

M4H
East York
Thorncliffe Park

M5H
Downtown Toronto
Adelaide

M5H
Downtown Toronto
King

M5H
Downtown Toronto
Richmond

M6H
West Toronto
Dovercourt Village

M6H
West Toronto
Dufferin

M7H
M8H
M9H
M1J
Scarborough
Scarborough Village

M2J
North York
Fairview

M2J
North York
Henry Farm

M2J
North York
Oriole

M3J
North York
Northwood Park

M3J
North York
York University

M4J
East York
East Toronto

M5J
Downtown Toronto
Harbourfront East

M5J
Downtown Toronto
Toronto Islands

M5J
Downtown Toronto
Union Station

M6J
West Toronto
Little Portugal

M6J
West Toronto
Trinity

M7J
M8J
M9J
M1K
Scarborough
East Birchmount Park

M1K
Scarborough
Ionview

M1K
Scarborough
Kennedy Park

M2K
North York
Bayview Village

M3K
North York
CFB Toronto

M3K
North York
Downsview East

M4K
East Toronto
The Danforth West

M4K
East Toronto
Riverdale

M5K
Downtown Toronto
Design Exchange

M5K
Downtown Toronto
Toronto Dominion Centre

M6K
West Toronto
Brockton

M6K
West Toronto
Exhibition Place

M6K
West Toronto
Parkdale Village

M7K
M8K
M9K
M1L
Scarborough
Clairlea

M1L
Scarborough
Golden Mile

M1L
Scarborough
Oakridge

M2L
North York
Silver Hills

M2L
North York
York Mills

M3L
North York
Downsview West

M4L
East Toronto
The Beaches West

M4L
East Toronto
India Bazaar

M5L
Downtown Toronto
Commerce Court

M5L
Downtown Toronto
Victoria Hotel

M6L
North York
Downsview

M6L
North York
North Park

M6L
North York
Upwood Park

M7L
M8L
M9L
North York
Humber Summit

M1M
Scarborough
Cliffcrest

M1M
Scarborough
Cliffside

M1M
Scarborough
Scarborough Village West

M2M
North York
Newtonbrook

M2M
North York
Willowdale

M3M
North York
Downsview Central

M4M
East Toronto
Studio District

M5M
North York
Bedford Park

M5M
North York
Lawrence Manor East

M6M
York
Del Ray

M6M
York
Keelesdale

M6M
York
Mount Dennis

M6M
York
Silverthorn

M7M
M8M
M9M
North York
Emery

M9M
North York
Humberlea

M1N
Scarborough
Birch Cliff

M1N
Scarborough
Cliffside West

M2N
North York
Willowdale South

M3N
North York
Downsview Northwest

M4N
Central Toronto
Lawrence Park

M5N
Central Toronto
Roselawn

M6N
York
The Junction North

M6N
York
Runnymede

M7N
M8N
M9N
York
Weston

M1P
Scarborough
Dorset Park

M1P
Scarborough
Scarborough Town Centre

M1P
Scarborough
Wexford Heights

M2P
North York
York Mills West

M3P
M4P
Central Toronto
Davisville North

M5P
Central Toronto
Forest Hill North

M5P
Central Toronto
Forest Hill West

M6P
West Toronto
High Park

M6P
West Toronto
The Junction South

M7P
M8P
M9P
Etobicoke
Westmount

M1R
Scarborough
Maryvale

M1R
Scarborough
Wexford

M2R
North York
Willowdale West

M3R
M4R
Central Toronto
North Toronto West

M5R
Central Toronto
The Annex

M5R
Central Toronto
North Midtown

M5R
Central Toronto
Yorkville

M6R
West Toronto
Parkdale

M6R
West Toronto
Roncesvalles

M7R
Mississauga
Canada Post Gateway Processing Centre

M8R
M9R
Etobicoke
Kingsview Village

M9R
Etobicoke
Martin Grove Gardens

M9R
Etobicoke
Richview Gardens

M9R
Etobicoke
St. Phillips

M1S
Scarborough
Agincourt

M2S
M3S
M4S
Central Toronto
Davisville

M5S
Downtown Toronto
Harbord

M5S
Downtown Toronto
University of Toronto

M6S
West Toronto
Runnymede

M6S
West Toronto
Swansea

M7S
M8S
M9S
M1T
Scarborough
Clarks Corners

M1T
Scarborough
Sullivan

M1T
Scarborough
Tam O'Shanter

M2T
M3T
M4T
Central Toronto
Moore Park

M4T
Central Toronto
Summerhill East

M5T
Downtown Toronto
Chinatown

M5T
Downtown Toronto
Grange Park

M5T
Downtown Toronto
Kensington Market

M6T
M7T
M8T
M9T
M1V
Scarborough
Agincourt North

M1V
Scarborough
L'Amoreaux East

M1V
Scarborough
Milliken

M1V
Scarborough
Steeles East

M2V
M3V
M4V
Central Toronto
Deer Park

M4V
Central Toronto
Forest Hill SE

M4V
Central Toronto
Rathnelly

M4V
Central Toronto
South Hill

M4V
Central Toronto
Summerhill West

M5V
Downtown Toronto
CN Tower

M5V
Downtown Toronto
Bathurst Quay

M5V
Downtown Toronto
Island airport

M5V
Downtown Toronto
Harbourfront West

M5V
Downtown Toronto
King and Spadina

M5V
Downtown Toronto
Railway Lands

M5V
Downtown Toronto
South Niagara

M6V
M7V
M8V
Etobicoke
Humber Bay Shores

M8V
Etobicoke
Mimico South

M8V
Etobicoke
New Toronto

M9V
Etobicoke
Albion Gardens

M9V
Etobicoke
Beaumond Heights

M9V
Etobicoke
Humbergate

M9V
Etobicoke
Jamestown

M9V
Etobicoke
Mount Olive

M9V
Etobicoke
Silverstone

M9V
Etobicoke
South Steeles

M9V
Etobicoke
Thistletown

M1W
Scarborough
L'Amoreaux West

M2W
M3W
M4W
Downtown Toronto
Rosedale

M5W
Downtown Toronto
Stn A PO Boxes 25 The Esplanade

M6W
M7W
M8W
Etobicoke
Alderwood

M8W
Etobicoke
Long Branch

M9W
Etobicoke
Northwest

M1X
Scarborough
Upper Rouge

M2X
M3X
M4X
Downtown Toronto
Cabbagetown

M4X
Downtown Toronto
St. James Town

M5X
Downtown Toronto
First Canadian Place

M5X
Downtown Toronto
Underground city

M6X
M7X
M8X
Etobicoke
The Kingsway

M8X
Etobicoke
Montgomery Road

M8X
Etobicoke
Old Mill North

M9X
M1Y
M2Y
M3Y
M4Y
Downtown Toronto
Church and Wellesley

M5Y
M6Y
M7Y
East Toronto
Business Reply Mail Processing Centre 969 Eastern

M8Y
Etobicoke
Humber Bay

M8Y
Etobicoke
King's Mill Park

M8Y
Etobicoke
Kingsway Park South East

M8Y
Etobicoke
Mimico NE

M8Y
Etobicoke
Old Mill South

M8Y
Etobicoke
The Queensway East

M8Y
Etobicoke
Royal York South East

M8Y
Etobicoke
Sunnylea

M9Y
M1Z
M2Z
M3Z
M4Z
M5Z
M6Z
M7Z
M8Z
Etobicoke
Kingsway Park South West

M8Z
Etobicoke
Mimico NW

M8Z
Etobicoke
The Queensway West

M8Z
Etobicoke
Royal York South West

M8Z
Etobicoke
South of Bloor

M9Z



Canadian postal codes






NL

NS

PE

NB

QC

ON

MB

SK

AB

BC

NU/NT

YT


A

B

C

E

G

H

J

K

L

M

N

P

R

S

T

V

X

Y


NL

NS

PE

NB

QC

ON

MB

SK

AB

BC

NU/NT

YT

A

B

C

E

G

H

J

K

L

M

N

P

R

S

T

V

X

Y

In [7]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        
        data=t.text_content() 
        #Check if row is empty
        if i>0:
            #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

Just to be sure, let’s check the length of each column. Ideally, they should all be the same.

In [8]:
[len(C) for (title,C) in col]

[287, 287, 287]

Perfect! This shows that each of our 3 columns has exactly 287 values.

Now we are ready to create the DataFrame:

In [9]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

Looking at the top 5 cells on the DataFrame:

In [10]:
df.head(5)

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

## 2. The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

### Renaming column names

In [11]:
df.rename(columns={'Postcode': 'PostalCode', 'Borough': 'Borough', 'Neighbourhood\n': 'Neighborhood'}, inplace=True)
df.head()

  PostalCode           Borough        Neighborhood
0        M1A      Not assigned      Not assigned\n
1        M2A      Not assigned      Not assigned\n
2        M3A        North York         Parkwoods\n
3        M4A        North York  Victoria Village\n
4        M5A  Downtown Toronto      Harbourfront\n

Strip Trailing Space of the Neighbourhood column

In [12]:
df['Neighborhood'] = df['Neighborhood'].str.rstrip()
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [13]:
df.dtypes

PostalCode      object
Borough         object
Neighborhood    object
dtype: object

In [14]:
df.shape

(287, 3)

## 3.Only processing the cells that have an assigned borough. Ignoring cells with a borough that is Not assigned.

In [15]:
#df = df[df['Borough'] != 'Not assigned'] 
# Get names of indexes for which column Borough has value "Not assigned"
indexNames = df[df['Borough'] =='Not assigned'].index

# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)        
df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [16]:
df.shape

(210, 3)

## 4. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [17]:
#for index_label, row_series in df.iterrows():
    #if df.at[index_label , 'Neighborhood'] == 'Not assigned':
        #df.at[index_label , 'Neighborhood'] = df.at[index_label , 'Borough']
        
df.loc[df['Neighborhood'] =='Not assigned' , 'Neighborhood'] = df['Borough']
df.head(10)

   PostalCode           Borough      Neighborhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M6A        North York  Lawrence Heights
6         M6A        North York    Lawrence Manor
7         M7A  Downtown Toronto      Queen's Park
9         M9A         Etobicoke  Islington Avenue
10        M1B       Scarborough             Rouge
11        M1B       Scarborough           Malvern
13        M3B        North York   Don Mills North

In [18]:
df.shape

(210, 3)

## 5.Rows with same postalcode will combined into one row with the neighborhoods separated with a comma

In [19]:

#df['Neighborhood'] = df.groupby(['PostalCode'])['Neighborhood'].transform(lambda x: ','.join(x))
#df.drop_duplicates(inplace=True)

result = df.groupby(['PostalCode', 'Borough'], sort=False).agg(', '.join)
df_new = result.reset_index()
df_new.head(10)

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto                      Harbourfront
3        M6A        North York  Lawrence Heights, Lawrence Manor
4        M7A  Downtown Toronto                      Queen's Park
5        M9A         Etobicoke                  Islington Avenue
6        M1B       Scarborough                    Rouge, Malvern
7        M3B        North York                   Don Mills North
8        M4B         East York   Woodbine Gardens, Parkview Hill
9        M5B  Downtown Toronto          Ryerson, Garden District

## 6.Use the .shape method to print the number of rows of your dataframe.

In [21]:
df_new.shape

(103, 3)